.idea
/build-root/lib
/build-root/packages
/build-root/html/
/build-root/.deps.ok
/target
**/core
/Makefile
/Testing

cmake-build*/
_CPack_Packages/
CMakeFiles/
CMakeCache.txt
install_manifest.txt
/CPackConfig.cmake
/CPackSourceConfig.cmake
*.cbp
*.pyc

/cmake_install.cmake
/CTestTestfile.cmake
