# Copyright (c) 2019 Cisco and/or its affiliates.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at:
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

cffi                                    # MIT
cryptography!=2.0                       # BSD/Apache-2.0
faulthandler; python_version < '3.3' #  # BSD License (2 clause)
flake8                                  # MIT
ipaddress; python_version < '3.3'       # PSF
parameterized>=0.6.1                    # BSD
pexpect                                 # ISC
psutil                                  # BSD
pycodestyle                             # MIT (Expat license)       https://pypi.org/project/pycodestyle/
scapy==2.4.0; python_version >= '2.7' or python_version >= '3.4'    # GPL2  https://github.com/secdev/scapy/blob/master/LICENSE
six                                     # MIT
subprocess32                            # PSF
syslog_rfc5424_parser>=0.3.0            # ISC
